<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fzuclover.putmedown">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoToolBar">
        <activity android:name=".features.login.LoginActivity" />
        <activity android:name=".features.achievement.AchievementActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".features.forgotpassword.ForgotPasswordActivity" />
        <activity android:name=".features.register.RegisterActivity" />
        <activity android:name=".features.setting.SettingActivity" />
        <activity android:name=".features.timing.TimingActivity" />
        <activity android:name=".features.timingrecord.TimingRecordActivity" />
        <activity android:name=".features.totaltimingtoday.TotalTimingTodayActivity">

        </activity>

    </application>

</manifest>